<li>
    </h2>
    <form>
        <input placeholder="Nombre" type="text" />
        <input placeholder="Correo Electrónico" type="email" />
        <textarea placeholder="Mensaje" rows="5">
</textarea>
        <button type="submit">
Enviar
</button>
    </form>
    </div>
    <footer>
        <div>
            Contacto: tienda@ropa.com | Tel: 123-456-7890
        </div>
        <div class="social-icons">
            <a href="#">
                <i class="fab fa-facebook-f">
</i>
            </a>
            <a href="#">
                <i class="fab fa-twitter">
</i>
            </a>
            <a href="#">
                <i class="fab fa-instagram">
</i>
            </a>
        </div>
    </footer>
    </body>

    </html>